
<div class="container">
	
<div class="row">
	<div class="span7">	
<%=partial 'external/google-viz-calls'%>	
	
	
<h1>The lateness of airlines</h1>





<h2>Historical December Performance</h2>

<%= partial "ontime/graphics/gchart-december-performance", :locals=>{:records=>@airlines_december_records, :agg_records=>@airlines_december_agg_records}%>

<p>TK dblcheck numbers<p>




<!--  ##########################-->


<h2>Latest performance</h2>

<%= partial "ontime/graphics/gchart-latest-yoy", :locals=>{:periods=>@periods_to_compare }%>


<h2>Causes for delay</h2>

<%= partial "ontime/graphics/gchart-latest-causes-breakdown", :locals=>{:aggs=>@latest_month_aggs }%>







</div></div>

</div><!--container-->