<footer id="footer">
		<div class="container">

			<div class="footer-col footer-logo">
				<div class="inner">
					<a href="/"><img src="/img/logo-footer.png" alt="Skift logo"></a>
					<p>Travel Intelligence.<br>Global Smartness.</p>
				</div>
			</div>

			<div class="footer-col">
				<div class="inner">
					<h4>Search</h4>
					<form action="/" method="get">
						<input type="text" name="s" value="" placeholder="search">
					</form>

					<h4>Information</h4>
					<ul>
						<li><a href="/contact/">Contact</a>
						</li><li><a href="/masthead/">Masthead</a>
						</li><li><a href="/about/">About Skift</a>
						</li><li><a href="/terms/">Terms of Use</a>
						</li><li><a href="/privacy/">Privacy Policy</a>
					</li></ul>
				</div>
			</div>

			<div class="footer-col">
				<div class="inner">
					<h4>Categories</h4>
					<ul>
						<li><a href="/category/transport/">Transport</a>
						</li><li><a href="/category/destinations/">Destinations</a>
						</li><li><a href="/category/rooms/">Rooms</a>
						</li><li><a href="/category/digital/">Digital</a>
						</li><li><a href="/category/skiftx/">SkiftX</a>
						</li><li><a href="http://airlines.skift.com/">User Tools</a>
					</li></ul>
				</div>
			</div>

			<div class="footer-col footer-connect">
				<div class="inner">
					<h4>Connect With Us</h4>
					<ul>
						<li><a href="http://www.facebook.com/skiftnews" class="ico-footer-facebook">Facebook</a>
						</li><li><a href="http://twitter.com/skiftnews" class="ico-footer-twitter">Twitter</a>
						</li><li><a href="http://www.linkedin.com/company/skift" class="ico-footer-linkedin">LinkedIn</a>
						</li><li><a href="http://skift.com/feed/" class="ico-footer-rss">RSS Feed</a>
						</li><li><a href="/" class="ico-footer-newsletter">Newsletter</a>
					</li></ul>

					<a href="http://www.publishthis.com"><img src="/img/pt-logo-footer.png" alt="Publish This logo"></a>
					<p>2012 Skift. All rights reserved.</p>
				</div>
			</div>

		</div> <!-- /.container -->
	</footer>
	
	