<header id="header">
         <div class="logo container">
            <h1><a href="/">Skift</a></h1>
         </div>
         <ul class="social container">
            <li class="ico-rss"><a href="http://skift.com/feed/">RSS</a></li>
            <li class="ico-linkedin"><a href="http://www.linkedin.com/company/skift">Linkedin</a></li>
            <li class="ico-twitter"><a href="http://twitter.com/skiftnews">Twitter</a></li>
            <li class="ico-facebook"><a href="http://www.facebook.com/pages/Skift/155942621181219">Facebook</a></li>
         </ul>
         <nav class="nav group">
            <div class="inner container">
               <div class="search">
                  <form method="get" action="/">
                     <input type="search" name="s" class="text" placeholder="search">
                  </form>
               </div>
               <ul class="menu group">
                  <li id="menu-item-19" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19"><a href="http://skift.com/category/transport/">Transport</a>
<ul class="sub-menu">
   <li id="menu-item-29644" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29644"><a href="http://skift.com/category/transport/airlines/">Airlines</a></li>
   <li id="menu-item-29645" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29645"><a href="http://skift.com/category/transport/airports/">Airports</a></li>
   <li id="menu-item-9" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9"><a href="http://skift.com/category/cruises/">Cruises</a></li>
   <li id="menu-item-764" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764"><a href="http://skift.com/category/transport/cars/">Cars</a></li>
   <li id="menu-item-765" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-765"><a href="http://skift.com/category/transport/trains/">Trains</a></li>
   <li id="menu-item-18160" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18160"><a href="http://skift.com/category/transport/transit/">Local Transit</a></li>
</ul>
</li>
<li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15"><a href="http://skift.com/category/destinations/">Destinations</a>
<ul class="sub-menu">
   <li id="menu-item-743" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-743"><a href="http://skift.com/category/destinations/asia-destinations/">Asia</a></li>
   <li id="menu-item-746" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-746"><a href="http://skift.com/category/destinations/europe-destinations/">Europe</a></li>
   <li id="menu-item-742" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-742"><a href="http://skift.com/category/destinations/africa/">Africa</a></li>
   <li id="menu-item-747" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-747"><a href="http://skift.com/category/destinations/middle-east/">Middle East</a></li>
   <li id="menu-item-748" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-748"><a href="http://skift.com/category/destinations/north-america/">North America &amp; Caribbean</a></li>
   <li id="menu-item-745" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-745"><a href="http://skift.com/category/destinations/central-south-america/">Central &amp; South America</a></li>
   <li id="menu-item-744" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-744"><a href="http://skift.com/category/destinations/australia-new-zealand-south-pacific/">Australia, New Zealand &amp; South Pacific</a></li>
</ul>
</li>
<li id="menu-item-18" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18"><a href="http://skift.com/category/rooms/">Rooms</a>
<ul class="sub-menu">
   <li id="menu-item-761" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-761"><a href="http://skift.com/category/rooms/hotels/">Hotels</a></li>
   <li id="menu-item-762" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-762"><a href="http://skift.com/category/rooms/rentalsandshares/">Rentals &amp; Shares</a></li>
</ul>
</li>
<li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a href="http://skift.com/category/digital/">Digital</a>
<ul class="sub-menu">
   <li id="menu-item-759" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-759"><a href="http://skift.com/category/digital/startups/">Startups</a></li>
   <li id="menu-item-18007" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18007"><a href="http://skift.com/category/digital/venture-capital/">Venture Capital</a></li>
   <li id="menu-item-750" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-750"><a href="http://skift.com/category/digital/mobile/">Mobile</a></li>
   <li id="menu-item-752" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-752"><a href="http://skift.com/category/digital/booking-sites/">Booking Sites</a></li>
   <li id="menu-item-758" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-758"><a href="http://skift.com/category/digital/services/">Services</a></li>
   <li id="menu-item-753" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-753"><a href="http://skift.com/category/digital/media/">Media</a></li>
</ul>
</li>
<li id="menu-item-18161" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18161"><a href="http://skift.com/category/skiftx/">SkiftX</a>
<ul class="sub-menu">
   <li id="menu-item-18162" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18162"><a href="http://skift.com/category/skiftx/skiftads/">SkiftAds</a></li>
   <li id="menu-item-18163" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18163"><a href="http://skift.com/category/skiftx/skiftbusiness/">SkiftBusiness</a></li>
   <li id="menu-item-756" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-756"><a href="http://skift.com/category/skiftx/lists/">SkiftLists</a></li>
   <li id="menu-item-18164" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18164"><a href="http://skift.com/category/skiftx/skiftdesign/">SkiftDesign</a></li>
   <li id="menu-item-18165" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18165"><a href="http://skift.com/category/skiftx/skiftstats/">SkiftStats</a></li>
   <li id="menu-item-18166" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18166"><a href="http://skift.com/category/skiftx/skiftux/">SkiftUX</a></li>
   <li id="menu-item-757" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-757"><a href="http://skift.com/category/skiftx/mergers/">SkiftM&amp;A</a></li>
</ul>
</li>
<li id="menu-item-19996" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19996"><a href="http://airlines.skift.com/">User Tools</a>
<ul class="sub-menu">
   <li id="menu-item-19997" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19997"><a href="http://airlines.skift.com/">Compare Airlines</a></li>
   <li id="menu-item-19998" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19998"><a href="http://airports.skift.com/">Compare Airports</a></li>
   <li id="menu-item-19999" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19999"><a href="http://frequent-flyer.skift.com/">Compare Frequent Flyer Programs</a></li>
</ul>
</li>
 
               </ul>
               <select id="mobile-menu">
                  <option data-permalink="http://skift.com" class="current-menu-item">Home</option>
                  <option data-permalink="http://skift.com/category/transport/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19">Transport </option><option data-permalink="http://skift.com/category/transport/airlines/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29644">&nbsp;&nbsp;&nbsp;&nbsp;Airlines</option>
   <option data-permalink="http://skift.com/category/transport/airports/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29645">&nbsp;&nbsp;&nbsp;&nbsp;Airports</option>
   <option data-permalink="http://skift.com/category/cruises/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9">&nbsp;&nbsp;&nbsp;&nbsp;Cruises</option>
   <option data-permalink="http://skift.com/category/transport/cars/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764">&nbsp;&nbsp;&nbsp;&nbsp;Cars</option>
   <option data-permalink="http://skift.com/category/transport/trains/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-765">&nbsp;&nbsp;&nbsp;&nbsp;Trains</option>
   <option data-permalink="http://skift.com/category/transport/transit/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18160">&nbsp;&nbsp;&nbsp;&nbsp;Local Transit</option>

<option data-permalink="http://skift.com/category/destinations/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15">Destinations </option><option data-permalink="http://skift.com/category/destinations/asia-destinations/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-743">&nbsp;&nbsp;&nbsp;&nbsp;Asia</option>
   <option data-permalink="http://skift.com/category/destinations/europe-destinations/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-746">&nbsp;&nbsp;&nbsp;&nbsp;Europe</option>
   <option data-permalink="http://skift.com/category/destinations/africa/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-742">&nbsp;&nbsp;&nbsp;&nbsp;Africa</option>
   <option data-permalink="http://skift.com/category/destinations/middle-east/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-747">&nbsp;&nbsp;&nbsp;&nbsp;Middle East</option>
   <option data-permalink="http://skift.com/category/destinations/north-america/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-748">&nbsp;&nbsp;&nbsp;&nbsp;North America &amp; Caribbean</option>
   <option data-permalink="http://skift.com/category/destinations/central-south-america/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-745">&nbsp;&nbsp;&nbsp;&nbsp;Central &amp; South America</option>
   <option data-permalink="http://skift.com/category/destinations/australia-new-zealand-south-pacific/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-744">&nbsp;&nbsp;&nbsp;&nbsp;Australia, New Zealand &amp; South Pacific</option>

<option data-permalink="http://skift.com/category/rooms/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18">Rooms   </option><option data-permalink="http://skift.com/category/rooms/hotels/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-761">&nbsp;&nbsp;&nbsp;&nbsp;Hotels</option>
   <option data-permalink="http://skift.com/category/rooms/rentalsandshares/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-762">&nbsp;&nbsp;&nbsp;&nbsp;Rentals &amp; Shares</option>

<option data-permalink="http://skift.com/category/digital/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16">Digital  </option><option data-permalink="http://skift.com/category/digital/startups/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-759">&nbsp;&nbsp;&nbsp;&nbsp;Startups</option>
   <option data-permalink="http://skift.com/category/digital/venture-capital/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18007">&nbsp;&nbsp;&nbsp;&nbsp;Venture Capital</option>
   <option data-permalink="http://skift.com/category/digital/mobile/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-750">&nbsp;&nbsp;&nbsp;&nbsp;Mobile</option>
   <option data-permalink="http://skift.com/category/digital/booking-sites/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-752">&nbsp;&nbsp;&nbsp;&nbsp;Booking Sites</option>
   <option data-permalink="http://skift.com/category/digital/services/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-758">&nbsp;&nbsp;&nbsp;&nbsp;Services</option>
   <option data-permalink="http://skift.com/category/digital/media/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-753">&nbsp;&nbsp;&nbsp;&nbsp;Media</option>

<option data-permalink="http://skift.com/category/skiftx/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18161">SkiftX </option><option data-permalink="http://skift.com/category/skiftx/skiftads/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18162">&nbsp;&nbsp;&nbsp;&nbsp;SkiftAds</option>
   <option data-permalink="http://skift.com/category/skiftx/skiftbusiness/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18163">&nbsp;&nbsp;&nbsp;&nbsp;SkiftBusiness</option>
   <option data-permalink="http://skift.com/category/skiftx/lists/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-756">&nbsp;&nbsp;&nbsp;&nbsp;SkiftLists</option>
   <option data-permalink="http://skift.com/category/skiftx/skiftdesign/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18164">&nbsp;&nbsp;&nbsp;&nbsp;SkiftDesign</option>
   <option data-permalink="http://skift.com/category/skiftx/skiftstats/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18165">&nbsp;&nbsp;&nbsp;&nbsp;SkiftStats</option>
   <option data-permalink="http://skift.com/category/skiftx/skiftux/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18166">&nbsp;&nbsp;&nbsp;&nbsp;SkiftUX</option>
   <option data-permalink="http://skift.com/category/skiftx/mergers/" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-757">&nbsp;&nbsp;&nbsp;&nbsp;SkiftM&amp;A</option>

<option data-permalink="http://airlines.skift.com/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19996">User Tools  </option><option data-permalink="http://airlines.skift.com/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19997">&nbsp;&nbsp;&nbsp;&nbsp;Compare Airlines</option>
   <option data-permalink="http://airports.skift.com/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19998">&nbsp;&nbsp;&nbsp;&nbsp;Compare Airports</option>
   <option data-permalink="http://frequent-flyer.skift.com/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19999">&nbsp;&nbsp;&nbsp;&nbsp;Compare Frequent Flyer Programs</option>

 
               </select>
            </div>
            <div class="trending container">
               <div class="push">
                  <span class="desc">Trending:</span>
                   
                     <a href="http://skift.com/filters/new-smartphones-for-fall/">New Smartphones</a>
                   
                     <a href="http://skift.com/filters/american-airlines/">American Airlines</a>
                   
                     <a href="http://skift.com/filters/the-tsa/">The TSA</a>
                   
               </div>
            </div>
         </nav>
      </header>