<!doctype html>
<html class="no-js" lang="en">
<head>
   <title>SocialSkift.com</title>
   <meta charset="utf-8" />
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="viewport" content="width=device-width" />
   <meta name="google-site-verification" content="o6uWe4LoK4qMggzGSQtarhIgJpxk2tg8L0FhXCn4KHk" />
   
   <meta property="og:image" content="http://skift.com/img/facebookicon-new.png" />
   <meta property="og:title" content="Skift.com" />
   <meta property="og:site_name" content="Skift" />
   <meta property="og:type" content="blog" />

   <meta name="Googlebot-News" content="noindex" />




   <!-- This site is optimized with the Yoast WordPress SEO plugin v1.2.8.5 - http://yoast.com/wordpress/seo/ -->
   <meta name="description" content="The travel intelligence company that uses news, insight, and tools &amp; services to help the industry and business travelers make smart decisions about travel."/>
   <link rel="canonical" href="http://skift.com/" />
   <!-- / Yoast WordPress SEO plugin. -->


   <%=stylesheet_link_tag "skift/style" %>
   <%=stylesheet_link_tag "these-styles" %>
	<%=javascript_include_tag "vendor/d3", "vendor/jquery"%>
<!--
   <link rel='stylesheet' id='contact-form-7-css'  href='http://skift.com/wp/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.3' type='text/css' media='all' />
   <link rel='stylesheet' id='simple-microblogging-css'  href='http://skift.com/wp/wp-content/plugins/simple-microblogging/simple-microblogging.css?ver=3.4.2' type='text/css' media='all' />
    -->

</head>