<h2><%=@airline.name%></h2>


<table>
<% @delay_records.each do |delay_record| %>

<tr>
	<td><%=delay_record.year%></td>
	<td><%=delay_record.month%></td>

	<td><%=delay_record.airport_name if delay_record.airport %></td>


</tr>

<% end %>
</table>