<section class="container fold">

	<h2><%=@airline.name%></h2>

	<div class="row">
		<div class="span6">
		
			<%=partial "ontime/top-delayed-statbox", :locals=>{:years=>[SkiftAir::Settings::THIS_YEAR, SkiftAir::Settings::THIS_YEAR-1], :month=>SkiftAir::Settings::THIS_MONTH}%>
		
		</div>	
	</div>

</section> <!-- container fold-->



<div class="">

<table>
<% @airports_by_arrivals_sum.each do |arr| %>
	<% airport, arrivals = arr%>

	<tr>
		<td><%=link_to airport.name, url_for(:ontime_records, :delays_by_airport, :airport=>airport)%></td>
		<td><%=number_with_delimiter arrivals%></td>
		<td><%#=number_with_delimiter @airline.delayed_arrivals_at_airport(airport)%></td>
		<td><%#=arrivals/@airline.delayed_arrivals_at_airport(airport).to_f%></td>
	</tr>


<% end %>
</table>