/*	--------------------------------------------------
	:: AlternateGothicFSNo1
	-------------------------------------------------- */
	@font-face {
		font-family: 'AlternateGothicFSNo1';
		src: url('/fonts/AlternateGothicNo1-webfont.eot');
		src: url('/fonts/AlternateGothicNo1-webfont.eot?iefix') format('eot'),
			 url('/fonts/AlternateGothicNo1-webfont.woff') format('woff'),
			 url('/fonts/AlternateGothicNo1-webfont.ttf') format('truetype'),
			 url('/fonts/AlternateGothicNo1-webfont.svg#webfont8iYScu0S') format('svg');
		font-weight: normal;
		font-style: normal;
	}
